<div class="flex flex-row gap-10">
  @for (modulo of modules; track modulo) {
  <mat-card
    class="example-card pointer mat-mdc-button-touch-target"
    (click)="toRedirect(modulo.urlRef)"
    matTooltip="{{modulo.tooltip}}"
    [matTooltipPositionAtOrigin]="true"
  >
    <mat-card-header>
      <mat-card-title>{{ modulo.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ modulo.urlImage }}"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        {{ modulo.description }}
      </p>
    </mat-card-content>
  </mat-card>
  }
</div>
